.description {
  display: flex;
  flex-direction: column;

  &__content {
    margin-bottom: 1rem;
    padding: 0 1rem;

    &--headline {
      margin: 1rem 0 0 0;
      padding: 0;
      font-size: 4rem;
      font-weight: 400;
      line-height: .9;

      @include multiple-media(smallScreen, mediumScreen, largeScreen) {
        width: calc(100%/12 * 6);
      }

      @include multiple-media(tabletScreenLandscape) {
        width: calc(100%/12 * 9);;
      }
    }

    &--body {
      font-size: 1rem;
      line-height: 1.2;
      margin-top: 1rem;

      @include multiple-media(mobileScreen) {
        font-size: 1.2rem;
      }

      @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
        width: calc(100%/12 * 4);
      }

      @include multiple-media(tabletScreenLandscape) {
        width: calc(100%/12 * 6);;
      }
    }

    &--helper {
      height: 6rem;
    }
  }

  &__image {

    &__content {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: 100%;

      @include multiple-media(mobileScreen) {
        height: 33vh;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position-y: 100%; */
        background-position-x: 100%;
      }

      @include multiple-media(tabletScreen) {
        height: 50vh;
        background-position-x: 100%;
      }

      @include multiple-media(tabletScreenLandscape, mobileScreenLandscape) {
        height: 100vh;
        background-position-x: 100%;
      }

    }
  }
}
