.information {
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: cover;
  background-position-x: 50%;
  min-height: 100%;
  max-height: 100%;

  @include multiple-media(mobileScreen) {
    min-height: 50%;
    background-position-x: 50%;
  }

  @include multiple-media(tabletScreen) {
    min-height: 50%;
  }

  @include multiple-media(mobileScreenLandscape) {
    min-height: 100%;
  }

  @include multiple-media(tabletScreenLandscape) {
    min-height: 100%;
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}
