.text-block {
  padding: 0;

  @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
    flex-basis: 50%;
  }

  @include multiple-media(tabletScreenLandscape) {
    flex-basis: 100%;
  }


  &__content {

    @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
      padding: 0 1rem;
    }

    &--title {
      margin: 1rem 0;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1;
    }

    &--body {
      font-size: 1rem;
      line-height: 1.2;

      @include multiple-media(mobileScreen) {
        font-size: 1.2rem;
      }

    }
  }
}
