// Breakpoints
@mixin breakpoint($point) {
  @if $point==mobileScreen {
    @media (min-width: 340px) and (max-width: 600px) {
      @content;
    }
  }
  @else if $point==tabletScreen {
    @media (min-width: 601px) and (max-width: 1199px) {
      @content;
    }
  }
  @else if $point==smallScreen {
    @media (min-width: 1200px) and (max-width: 1366px) {
      @content;
    }
  }
  @else if $point==mediumScreen {
    @media (min-width: 1367px) and (max-width: 1600px) {
      @content;
    }
  }
  @else if $point==largeScreen {
    @media (min-width: 1601px) {
      @content;
    }
  }
    // mobiles up to 599px height in landscape orientation
  @else if $point==mobileScreenLandscape {
    @media (max-height: 600px) and (max-width: 830px) and (orientation: landscape) {
      @content;
    }
  }
    // from 600px to 1366px in landscape orientation
  @else if $point==tabletScreenLandscape {
    @media (min-width: 600px) and (max-width: 1366px) and (min-height: 600px) and (max-height:1024px) and (orientation: landscape) {
      @content;
    }
  }

}

@mixin multiple-media($media...) {
  @each $query in $media {
    @include breakpoint($query) {
      @content
    }
  }
}