@font-face {
  font-family: "ChaletLondonNineteenSixty";
  src: url(./fonts/ChaletLondonNineteenSixty.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  font-size: 10px;

  //from 601px to 1199px
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
  }

  //from 1200px to 1366px
  @media screen and (min-width: 1200px) and (max-width: 1366px) {
    font-size: 14px;
  }

  //from 1367px to 1600px
  @media screen and (min-width: 1367px) and (max-width: 1600px) {
    font-size: 16px;
  }

  //from 1601px
  @media screen and (min-width: 1601px) {
    font-size: 18px;
  }
}

body {
  background-color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font-family: ChaletLondonNineteenSixty , sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
}
