.availability {
  margin: 5rem 1rem 1rem 1rem;
  display: block;
  z-index: 1000;

  $table-header: #1976D2;
  $table-header-border: #1565C0;
  $table-border: #d9d9d9;
  $row-bg: #f4f2f1;

  @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {

    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
    background-color: $black;
  }

  @include multiple-media(tabletScreen) {
    margin-bottom: 5rem;
  }

  div {
    box-sizing: border-box;
  }

  &-head {
    margin-bottom: 1rem;

    .white-title {
      margin: 1rem 0;
      padding: 0;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1;
    }
  }

  .table-container {
    display: block;
    margin: 2em auto;
    width: 100%;



    @include multiple-media( smallScreen, mediumScreen, largeScreen) {
      width: calc(100%/12 * 7);
      margin: 0 1rem 0 0;
    }

    @include multiple-media( tabletScreen) {
      width: calc(100%/12 * 12 - 2rem);
      margin: 0;
    }

    .header {
      .flex-row {
        border: none !important;

        @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
          border-bottom: 1px solid $white !important;
          padding: 0.5rem 0;
          margin: 0 .5rem;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
          text-align: right;
        }
      }

      .flex-row-mobile {
        @include multiple-media(mobileScreen) {
          display: none;
        }
      }


    }
  }

  .flag-icon {
    margin-right: 0.1em;
  }

  .flex-table {
    display: flex;
    flex-flow: row wrap;
    transition: 0.5s;

    @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
      flex-flow: unset;
    }
    &:first-of-type {
    }
    &:first-of-type .flex-row {
      color: white;
    }
    &.row:nth-child(odd) .flex-row {

    }
    &:hover {
      transition: 500ms;
    }

    .flex-row {

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        text-align: right;
      }
    }

    .flex-download {
      cursor: pointer;
    }

    .flex-row-mobile {
      @include multiple-media(mobileScreen) {
        display: none;
      }
    }
  }

  .flex-row {
    width: calc(100% / 9);
    text-align: left;
    padding: 1rem .5rem;
    border-bottom: solid 1px $table-border;
    font-size: 1rem;

    @include multiple-media(mobileScreen) {
      width: calc(100% / 7);
      padding: .5rem .5rem;
      font-size: 0.7rem;
    }

    @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
      font-size: 1rem;
      padding: 0.5em 0.5em;
    }

  }

  .rowspan {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .column {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    padding: 0;
    .flex-row {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      padding: 0;
      border: 0;
      border-bottom: solid 1px #d9d9d9;
      &:hover {
        transition: 500ms;
      }
    }
  }

  .flex-cell {
    width: calc(100% / 3); //1px = border right
    text-align: center;
    padding: 0.5em 0.5em;
    //flex: 1 1 33.3%;
    &:last-child {
      // border-right: 0;
    }
  }

  //@media all and (max-width: 767px) {
  //  .flex-row {
  //    width: calc(100% / 3); //1px = border right
  //
  //    &.first {
  //      width: 100%;
  //    }
  //  }
  //
  //  .column {
  //    width: 100%;
  //  }
  //}

  //@media all and (max-width: 430px) {
  //
  //  .flex-table {
  //    .flex-row {
  //      border-bottom: 0;
  //    }
  //    .flex-row:last-of-type {
  //    }
  //  }
  //
  //  .header {
  //    .flex-row {
  //      border: none !important;
  //    }
  //  }
  //
  //  .flex-row {
  //    width: 100%; //1px = border right
  //
  //    &.first {
  //      width: 100%;
  //    }
  //  }
  //
  //  .column {
  //    width: 100%;
  //    .flex-row {
  //      border-bottom: solid 1px $table-border;
  //    }
  //  }
  //
  //  .flex-cell {
  //    width: 100%; //1px = border right
  //  }
  //}

}
