.building {
  margin-bottom: 1rem;
  position: relative;
  overflow-x: hidden;

  @include multiple-media(mobileScreen, tabletScreen, smallScreen, mediumScreen, largeScreen) {
   height: 100%;
   overflow-y: auto;
   margin-bottom: 0;
  }

  .information {
    min-height: 100vh;
    width: 100vw;
    @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
      height: auto;
      min-height: 100vh;
      max-height: unset;
    }

    &__image {
      min-height: 100vh;
    }
  }
  .build-animate {
    position: absolute;
    width: 100%;
    height: 100vh;
     animation: build 5s;

    @keyframes build {
      from { background-color: black}
      to { background-color:  transparent}
    }
  }
  &-text {
    position: absolute;
    right: 1rem;
    font-size: 4rem;
    width: 26rem;
    top: .5rem;
    animation: show 1.5s;

    @include multiple-media(mobileScreen) {
      width: auto;
      text-align: right;
      margin-left: 1rem;
    }

    @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
      width: 42rem;
      top: 1rem;
    }

    @include multiple-media(mobileScreenLandscape) {
      width: auto;
      text-align: right;
      margin-left: 1rem;
    }

    @keyframes show {
      from { margin-top: 45vh}
      to { margin-top:  0}
    }

    &-small {
      font-size: 1rem;
      line-height: 1;
      display: inline-block;
      width: 6rem;

      @include multiple-media(mobileScreen) {
        font-size: 1rem;
        text-align: left;
        width: 9rem;
      }

      @include multiple-media(smallScreen, mediumScreen, largeScreen) {
        width: 6rem;
      }

      @include multiple-media(mobileScreenLandscape) {
        font-size: 1rem;
        text-align: left;
        width: 9rem;
      }
    }

    &-intro {
      @include multiple-media(mobileScreen, mobileScreenLandscape) {
        display: inline-block;
        flex-grow: 1;
        line-height: 1.2;
      }
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      // align-items: flex-start;
      @include multiple-media(mobileScreen , mobileScreenLandscape) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      img {
        width: 14rem;
        animation: shows 1.5s forwards;
        height: 3rem;

        @include multiple-media(mobileScreen, mobileScreenLandscape) {
          margin-left: auto;
        }
      }

      .fixLogo {
        position: fixed;
        right: 1rem;
      }

      @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
        @keyframes shows {
          from { visibility: visible}
          to { visibility:  hidden}
        }
      }

    }

    .break {
      display: none;

      @include multiple-media(mobileScreen, mobileScreenLandscape) {
        display: block;
      }
    }
  }

  .scrollDown {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    font-size: 1rem;
    animation: hideScroll 2s forwards;

    @keyframes hideScroll {
      from { color: transparent}
      to { color:  $white}
    }
  }

  &-description {

    &-0, &-2 {

      .description__image {
        @include multiple-media(smallScreen, mediumScreen, largeScreen) {
          height: 100vh;
          width: calc(100%/12 * 10);

          img {
            height: 100%;
          }
        }
      }
    }

    &-1, &-3 {

      .description__image {
        @include multiple-media(smallScreen, mediumScreen, largeScreen) {
          height: 100vh;

          img {
            height: 100%;
          }
        }
      }
    }

    &-4 {

      .description__image {
        @include multiple-media(smallScreen, mediumScreen, largeScreen) {
          height: 100vh;
          width: calc(100%/12 * 7);

          img {
            height: 100%;
          }
        }
      }
    }
  }

  + .availability {
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: 0;
  }

  .Masthead {
    @include multiple-media(mobileScreen, mobileScreenLandscape) {
      height: 100vh !important;
    }
  }
}
