.contact {
    // position: absolute;
    height: 100vh;
    min-width: 35rem;
    background-color: $black;
    right: 0;
    z-index: 1;

    @include multiple-media(mobileScreen) {
      width: 100vw;
    }

  &-image {
    @include multiple-media(mobileScreen, mobileScreenLandscape ) {
      display: none;
    }
    @include multiple-media(smallScreen, mediumScreen, largeScreen) {
      width: 14rem;
      right: 0;
      margin-left: auto;
      display: flex;
      padding: 1rem;
    }
  }


  &-form {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    position: fixed;

    &__wrapper {
      display: flex;
      padding: .5rem;

      @include multiple-media(mobileScreen) {
        &:nth-child(1) { order: 2; }
        &:nth-child(2) { order: 3; }
        &:nth-child(3) { order: 4; }
        &:nth-child(4) { order: 5; }
        &:nth-child(5) { order: 1; }
      }




      &__field {
        width: 100%;
        background: transparent;
        position: relative;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        margin: 0 .5rem;

        &.input--filled label span, input:focus + label span, select:focus + label span {
          transform: translate3d(0, 28px, 0) scale3d(0.7, 0.7, 1);
        }

        input {
          line-height: 20px;
          color: #dbdbdb;
          background-color: transparent;
          position: relative;
          display: block;
          float: right;
          width: 100%;
          border: none;
          border-radius: 0;
          padding: 5px 0;
          font-weight: 300;
          -webkit-appearance: none;
          font-size: 1rem;

          @include multiple-media(mobileScreen) {
            font-size: 1.2rem;
          }

          &:focus {
            outline: none;
          }
        }

        label {
          line-height: 20px;
          font-weight: 300;
          display: inline-block;
          color: #dbdbdb;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 100%;
          position: absolute;
          padding: 5px 0;
          text-align: left;
          pointer-events: none;
          max-width: 100%;
          margin-bottom: 5px;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: #dbdbdb;
            left: 0;
            top: 100%;
          }

          span {
            position: relative;
            display: block;
            width: 100%;
            transform-origin: 0 0;
            transition: all .3s ease-in-out;
            text-align: left;
          }
        }
      }
    }

    .question {

      .contact-form__wrapper__question {
        width: 47%;
        margin: 0 .5rem;
        display: flex;
        align-items: center;
        min-height: 30px;

        >span {
          color: #dbdbdb;
        }

        .broker {
          margin-left: .5rem;
          position: relative;

          input[type='radio'] {
            border: 0;
            padding: 0;
            visibility: hidden;
            left: 0;
            top: 0;
            z-index: -1;

          }

          label {
            font-weight: 300;
            line-height: 20px;
            padding: 5px 0 5px 5px;
            cursor: pointer;
            display: inline-block;
            margin: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: rgba(255,255,255,0);
            color: #dbdbdb;
            z-index: 999;

            &::before {
              box-sizing: border-box;
              content: "";
              position: absolute;
              left: 0;
              top: 9px;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              border: 1px solid #dbdbdb;
            }

            &::after {
              display: inline-block;
              cursor: pointer;
              margin: 0;
              position: absolute;
              width: 0;
              height: 0;
              content: "";
              visibility: visible;
              transition: all .1s ease-in-out;
              top: 15px;
              left: 6px;
              border-radius: 50%;
            }

          }

          input[type=radio]:checked+label:after {
            width: 6px;
            height: 6px;
            top: 12px;
            left: 3px;
            background-color: #dbdbdb;
          }
        }
      }

      .contact-form__wrapper__field {
        flex: 1 1 0px;
      }
    }

    .btn-submit {
      padding: 0 0 .2rem;
      display: flex;
      font-size: 1em;
      background: transparent;
      color: #dbdbdb;
      border-radius: 0;
      cursor: pointer;
      margin-left: auto;
      text-transform: capitalize;
      border: none;
      border-bottom: 1px solid #dbdbdb;
      align-self: flex-end;
      margin-right: 1.5rem;

      @include multiple-media(mobileScreen) {
        font-size: 1.2rem;
        order: 6
      }
    }

    .form-content {
      padding: 1rem;

      @include multiple-media(mobileScreen) {
        font-size: 1.2rem;
        order: 7
      }

      &__headline {


        &--head {
          display: block;
          color: #8a8a8a;

          @include multiple-media(mobileScreen) {
            font-size: 1.2rem;
          }
        }

        &--title {
          font-size: 1rem;
          color: #dbdbdb;

          @include multiple-media(mobileScreen) {
            font-size: 1.2rem;
          }
        }

        &--body {
          margin-top: 1rem;
          font-size: .7rem;
          line-height: 1.2;
          color: #dbdbdb;
        }
      }
    }
  }
}
