.map-page {
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  .map {
    height: calc(100vh - 15rem);
    min-height: -webkit-fill-available;
    margin-top: 5rem;

    &-options {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      padding: 1rem;

      &__head {
        display: flex;
        flex-direction: column;


        &--title {
          font-size: 4rem;
        }
      }

      &__results {
        padding-left: 1rem;
        overflow: auto;
        line-height: 1.2;

        @include multiple-media(mobileScreen) {
          display: none;
        }
      }
    }

    .mapboxgl-ctrl-logo, mapboxgl-ctrl-bottom-right {
      display: none !important;
    }
  }
}
