.neighborhood {
  @include multiple-media(mobileScreen, tabletScreen, smallScreen, mediumScreen, largeScreen) {
    height: 100%;
    overflow-y: auto;
  }

  .information {
    @include multiple-media(mobileScreen) {
      min-height: 33vh;
    }
    @include multiple-media(smallScreen, mediumScreen, largeScreen) {
      height: 100vh;
    }
  }

  .images-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    @include multiple-media(mediumScreen, largeScreen) {
      margin-bottom: 6rem;
    }

    &__group {
      display: flex;
      flex-direction: column;
      height: 50vh;
      @include multiple-media(mobileScreen) {
        height: auto;
      }
      @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
        flex-direction: row;
      }

      @include multiple-media(smallScreen, mediumScreen, largeScreen) {
        height: 100vh;
      }



      img {
        width: 100%;
        @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
          width: 65%;
        }
      }

      span {
        height: 50%;
        background-size: cover;
        background-repeat: no-repeat;

        @include multiple-media(mobileScreen) {
          height: 33vh;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
          width: 50%;
        }

        img {
          width: 100%;
          height: 50%;
        }
      }

      &__big {
        width: 100% !important;
        height: 100%;

        span {
          height: 100% !important;
        }

        @include multiple-media(mobileScreen) {
          height: 33vh;
        }
      }
    }

    &__one {
      height: 50vh;

      @include multiple-media(mobileScreen) {
        height: 33vh;
      }

      @include multiple-media(smallScreen, mediumScreen, largeScreen) {
        height: 100vh;
      }

      span {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        height: 100%;

        @include multiple-media(smallScreen, mediumScreen, largeScreen) {
          height: 100%;
        }
      }
    }
  }

  .map {
    display: flex;
    height: 90vh;

    @include multiple-media(tabletScreen) {
      height: 50vh;
    }

    .mgl-map-wrapper {
      width: calc(100%/12 * 8);

      .mapboxgl-ctrl-bottom-left {
        display: none;
      }
    }

    .map-options {
      width: calc(100%/12 * 4);
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding: 0 1rem;

      @include multiple-media(tabletScreen) {
        padding-top: 1rem;
      }

      &__icon {
        display: block;
        cursor: pointer;

        @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
          display: none;
        }
      }

      &__head {
        display: flex;
        flex-direction: column;
        font-size: 4rem;
        line-height: 1;
        cursor: pointer;
        z-index: 1000;
      }

      &__results {
        flex-grow: 1;
        overflow-y: auto;
        font-size: 1rem;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;

        div {
          padding-bottom: .5rem;
          width: 50%;
          overflow-y: auto;
          display: flex;
          line-height: 1.2;

          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}
