.penthouse {

  @include multiple-media(mobileScreen, tabletScreen, smallScreen, mediumScreen, largeScreen) {
    height: 100%;
    overflow-y: auto;
  }

  .information {

    @include multiple-media(mobileScreen) {
      min-height: 33vh;
    }
    @include multiple-media(smallScreen, mediumScreen, largeScreen) {
      height: 100vh;
    }
  }

  &-description {

    &-0, &-1, &-3 {

      .description__image {

        @include multiple-media(smallScreen, mediumScreen, largeScreen) {
          width: calc(100%/12 * 12);
          height: 100vh;
        }

        @include multiple-media(tabletScreenLandscape) {
          width: calc(100%/12 * 12);
        }

        img {

          @include multiple-media(smallScreen, mediumScreen, largerScreen) {
            height: 100%;
          }
        }
      }
    }

    &-2 {

      .description__image {

        @include multiple-media(smallScreen, mediumScreen, largeScreen) {
          width: calc(100%/12 * 10);
          height: 100vh;
        }

        @include multiple-media(tabletScreenLandscape) {
          width: 100vw;
        }

        img {

          @include multiple-media(smallScreen, mediumScreen, largerScreen) {
            height: 100%;
          }
        }
      }
    }
  }
}
