.team {
  margin: 0 1rem;
  display: flex;
  flex-grow: 1;


  @include multiple-media(mobileScreen, tabletScreen, smallScreen, medimuScreen, largeScreen) {
    padding-top: 5rem;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  @include multiple-media(tabletScreen, smallScreen, medimuScreen, largeScreen) {
    margin: 0;
  }



  &__group {

    @include multiple-media(tabletScreen) {
      display: flex;
      flex-wrap: wrap;
    }

    @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
      width: calc(100%/12 * 9);
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
    }

    .text-block {
      @include multiple-media(tabletScreen) {
        width: calc(100%/12 * 6);
        flex-basis: unset;
      }
    }
  }

  .footer {
    margin-top: auto;
  }
}
