<template>
  <div class="availability">
    <div class="availability-head">
      <span class="white-title">Historical elements with</span>
    </div>
    <div class="table-container" role="table" aria-label="Destinations">
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row first" role="columnheader">Unit</div>
        <div class="flex-row" role="columnheader">Bedroom</div>
        <div class="flex-row" role="columnheader">Bathroom</div>
        <div class="flex-row" role="columnheader">Int.SqFt</div>
        <div class="flex-row" role="columnheader">Ext.SqFt</div>
        <div class="flex-row" role="columnheader">Unit Price</div>
        <div class="flex-row flex-row-mobile" role="columnheader">RET tax</div>
        <div class="flex-row flex-row-mobile" role="columnheader">CC</div>
        <div class="flex-row" role="columnheader">Floorplan</div>
      </div>
      <div class="flex-table row" role="rowgroup" @click.stop="openDocument">
        <div class="flex-row first" role="cell"><span class="flag-icon flag-icon-gb"></span>2C</div>
        <div class="flex-row" role="cell">1</div>
        <div class="flex-row" role="cell">1</div>
        <div class="flex-row" role="cell">800</div>
        <div class="flex-row" role="cell">800</div>
        <div class="flex-row" role="cell">$800,000</div>
        <div class="flex-row flex-row-mobile" role="cell">$800</div>
        <div class="flex-row flex-row-mobile" role="cell">$800</div>
        <div class="flex-row flex-download" role="cell" @click.prevent="openNewDocument">Download</div>
      </div>
      <div class="flex-table row" role="rowgroup" @click.stop="openDocument">
        <div class="flex-row first" role="cell"><span class="flag-icon flag-icon-gb"></span>8B</div>
        <div class="flex-row" role="cell">2</div>
        <div class="flex-row" role="cell">2</div>
        <div class="flex-row" role="cell">1,000</div>
        <div class="flex-row" role="cell">1,000</div>
        <div class="flex-row" role="cell">$1,000,000</div>
        <div class="flex-row flex-row-mobile" role="cell">$1000</div>
        <div class="flex-row flex-row-mobile" role="cell">$1000</div>
        <div class="flex-row flex-download" role="cell" @click.prevent="openNewDocument">Download</div>
      </div>
      <div class="flex-table row" role="rowgroup" @click.stop="openDocument">
        <div class="flex-row first" role="cell"><span class="flag-icon flag-icon-gb"></span>11A</div>
        <div class="flex-row" role="cell">4</div>
        <div class="flex-row" role="cell">3</div>
        <div class="flex-row" role="cell">2,500</div>
        <div class="flex-row" role="cell">2,500</div>
        <div class="flex-row" role="cell">$2,500,000</div>
        <div class="flex-row flex-row-mobile" role="cell">$2,500</div>
        <div class="flex-row flex-row-mobile" role="cell">$2,500</div>
        <div class="flex-row flex-download" role="cell" @click.prevent="openNewDocument">Download</div>
      </div>
      <div class="flex-table row" role="rowgroup">
        <div class="flex-row first" role="cell"><span class="flag-icon flag-icon-gb"></span>3A</div>
        <div class="flex-row" role="cell">2</div>
        <div class="flex-row" role="cell">2</div>
        <div class="flex-row" role="cell">1,200</div>
        <div class="flex-row" role="cell">1,200</div>
        <div class="flex-row" role="cell">$1,200,000</div>
        <div class="flex-row flex-row-mobile" role="cell">$1,200</div>
        <div class="flex-row flex-row-mobile" role="cell">$1,200</div>
        <div class="flex-row flex-download" role="cell" @click.prevent="openNewDocument">Download</div>
      </div>
      <div class="flex-table row" role="rowgroup" @click.stop="openDocument">
        <div class="flex-row first" role="cell"><span class="flag-icon flag-icon-gb"></span>2C</div>
        <div class="flex-row" role="cell">1</div>
        <div class="flex-row" role="cell">1</div>
        <div class="flex-row" role="cell">800</div>
        <div class="flex-row" role="cell">800</div>
        <div class="flex-row" role="cell">$800,000</div>
        <div class="flex-row flex-row-mobile" role="cell">$800</div>
        <div class="flex-row flex-row-mobile" role="cell">$800</div>
        <div class="flex-row flex-download" role="cell" @click.prevent="openNewDocument">Download</div>
      </div>
      <div class="flex-table row" role="rowgroup" @click.stop="openDocument">
        <div class="flex-row first" role="cell"><span class="flag-icon flag-icon-gb"></span>8B</div>
        <div class="flex-row" role="cell">2</div>
        <div class="flex-row" role="cell">2</div>
        <div class="flex-row" role="cell">1,200</div>
        <div class="flex-row" role="cell">1,200</div>
        <div class="flex-row" role="cell">$1,200,000</div>
        <div class="flex-row flex-row-mobile" role="cell">$1,200</div>
        <div class="flex-row flex-row-mobile" role="cell">$1,200</div>
        <div class="flex-row flex-download" role="cell" @click.prevent="openNewDocument">Download</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Availability",
    data: () => ({

    }),
    methods: {
      openDocument() {
        if(window.innerWidth < 600) {
          window.open('https://www.google.com', '_blank')
          return;
        }
      },
      openNewDocument() {
        if(window.innerWidth > 600) {
          window.open('https://www.google.com', '_blank')
          return;
        }
      }
    }
  }
</script>

<style scoped>

</style>
