<template>
    <div class="building" id="building" :style="[isFixed ? {'z-index': 1} : {'z-index': 1000}]">
      <div class="build-animate">
        <div class="building-text" id="building-text">
          <div class="building-text-wrap">
            <span class="building-text-small">
            A New look on vibrant Eas VIllage
          </span>
            <span class="building-text-intro">Introducing</span>
            <br class="break">
            <img id="titleImage" src="../assets/logo.svg" alt="Logo">
          </div>
          <span class="building-text-luxury">a luxury condominium landmark designed by Morris Adjmi.</span>
        </div>
      </div>

        <span class="scrollDown">Scroll down</span>

          <info id="Info" :image="imagePath" :back-image="backImage"/>

        <parallax
          :fixed="true"
          :sectionClass="isFixed ? 'changeSection' : undefined"
          :containerClass="isFixed ? 'changeSection2' : undefined"
        >
          <template v-for="(content, index) in descriptionContent">
            <description
              :key="index"
              :description-title="content.title"
              :description-body="content.text"
              :image="content.image"
              :image-width="content.imageWidth"
              :class="'building-description-' + index">
            </description>
          </template>
          <footer-part></footer-part>
        </parallax>

    </div>
</template>

<script>
import Description from "../components/Description";
import Info from "../components/Info";
import Footer from "../layout/Footer";
import Parallax from 'vue-parallaxy';

export default {
  name: "Building.vue",
  data: () => ({
    isFixed: false,
    backImage: '',
    descriptionContent: [
      {
        title: 'Historical elements with a modern trend-setting vision some.',
        text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
        image: 'Building1.png'
      },
      {
        title: 'Historical elements with a modern trend-setting vision some.',
        text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
        image: 'Building2.png'
      },
      {
        title: '',
        text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
        image: 'Building3.png'
      },
      {
        title: '',
        text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
        image: 'Building4.png'
      },
      {
        title: 'Historical elements with a modern trend-setting vision some.',
        text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
        image: 'Building5.png'
      }
    ],
    imagePath: 'building.png',
    scrollPosition: 0
  }),
  components: {
    Description,
    Info,
    'footer-part': Footer,
    Parallax
  },
  created() {
    if(window.innerWidth <= 600) {
      this.backImage = 'building.png'
    } else {
      this.backImage = ''
    }
  },
  methods: {
    handleScroll () {

      const elmnt = document.getElementById("building");
      const y = elmnt.scrollTop;

      // mobile navigation image
      const screenWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
      // const screenHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
      const headImage = document.getElementById("titleImage");
      if(screenWidth < 600) {
        if (y >= 44) {
          headImage.classList.add("fixLogo")
          this.$emit('isPass', true)
        } else {
          headImage.classList.remove("fixLogo")
          this.$emit('isPass', false)
        }
      }


      // text move
      const text = document.getElementById('building-text');
      const setStyle = text.style;
      setStyle.opacity = 1 - y/90;

      // logo
      // const screenWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
      // if(screenWidth < 600) {
      //   const logo = document.getElementsByClassName('navigation-menu-right')[0];
      //
      //
      //   if(this.scrollPosition > y && y < 100) {
      //     logo.classList.remove("moveLogoUp")
      //     logo.classList.add("moveLogoDown")
      //   } else {
      //     logo.classList.add("moveLogoUp")
      //     logo.classList.remove("moveLogoDown")
      //   }
      //
      //   if(y <= 0) {
      //     logo.classList.remove("moveLogoUp")
      //     logo.classList.add("moveLogoDown")
      //   }
      //   this.scrollPosition = y;
      // }


      // navigation
      const info = document.getElementsByClassName("information")[0].offsetHeight;
      const showNavigation = y / info
      if(showNavigation > 0.9 ) {
        this.$emit('navOpacity', showNavigation / 1.3)
      } else {
        this.$emit('navOpacity', 0)
      }

      // scroll down
      const scrollDown = document.getElementsByClassName('scrollDown')[0];
      // const infoH = scrollDown.getBoundingClientRect().top
      const screenH = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

      if(((y + screenH) / info) > 1) {
        scrollDown.style.display = 'none'
      } else {
        scrollDown.style.display = 'block'
      }

      //Info
      const test = document.getElementById('Info').offsetHeight;

      if(y >= test) {
        this.isFixed = true
      } else {
        this.isFixed = false
      }


      // Scroll fade
      let startPos = 0.9;
      let slides = document.getElementsByClassName("scrollFade");
      let slidesTitle = document.getElementsByClassName("scrollFadeText");
      let slidesBody = document.getElementsByClassName("scrollFadeBody");
      const vh = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

      for (let i = 0; i < slidesTitle.length; i++) {
        let elPos = slidesTitle[i].getBoundingClientRect().top
        if(elPos < 60) {
          slidesTitle[i].style.opacity = (elPos / 60)
        } else {
          slidesTitle[i].style.opacity = 1
        }
      }

      for (let i = 0; i < slidesBody.length; i++) {
        let elPos = slidesBody[i].getBoundingClientRect().top
        if(elPos < 60) {
          slidesBody[i].style.opacity = (elPos / 60)
        } else {
          slidesBody[i].style.opacity = 1
        }
      }

      for (let i = 0; i < slides.length; i++) {
        let elPos = slides[i].getBoundingClientRect().bottom
        if(elPos < vh * startPos) {
          slides[i].style.opacity = (elPos / (vh * startPos) * 1)
        } else {
          slides[i].style.opacity = 1
        }
      }
    }
  },
  mounted () {
    document.getElementById('building').addEventListener('scroll', this.handleScroll);
    document.getElementById('building').addEventListener('resize', ()=> {
      if(window.innerWidth <= 600) {
        this.backImage = 'building.png'
      } else {
        this.backImage = ''
      }
    });
  }

}
</script>

<style scoped lang="scss">
    .changeSection {
      height: 100% !important;

    }
    .changeSection2 {
      position: relative !important;
      height: auto !important;
    }

</style>
