<template>
    <div class="contact">
      <img src="../assets/logo.svg" alt="logo" class="contact-image">
      <div class="contact-form">

        <div class="contact-form__wrapper">
          <div class="contact-form__wrapper__field" :class="{'input--filled': userData.firstName.length > 0}">
            <input type="text" name="first_name" v-model="userData.firstName">
            <label for="first_name"><span>Name*</span></label>
          </div>
          <div class="contact-form__wrapper__field" :class="{'input--filled': userData.lastName.length > 0}">
            <input type="text" name="last_name" v-model="userData.lastName">
            <label for="last_name"><span>Last Name*</span></label>
          </div>
        </div>

        <div class="contact-form__wrapper">
          <div class="contact-form__wrapper__field" :class="{'input--filled': userData.address.length > 0}">
            <input type="text" name="address_name" v-model="userData.address">
            <label for="address_name"><span>Address*</span></label>
          </div>
        </div>

        <div class="contact-form__wrapper">
          <div class="contact-form__wrapper__field" :class="{'input--filled': userData.city.length > 0}">
            <input type="email" name="email_name" v-model="userData.city">
            <label for="city_name"><span>City*</span></label>
          </div>
          <div class="contact-form__wrapper__field" style="flex-basis: 45%" :class="{'input--filled': userData.state.length > 0}">
            <input type="text" name="phone_name" v-model="userData.state">
            <label for="state_name"><span>State*</span></label>
          </div>
          <div class="contact-form__wrapper__field" style="flex-basis: 45%" :class="{'input--filled': userData.zip.length > 0}">
            <input type="text" name="phone_name" v-model="userData.zip">
            <label for="zip_name"><span>Zip*</span></label>
          </div>
        </div>

        <div class="contact-form__wrapper">
          <div class="contact-form__wrapper__field" :class="{'input--filled': userData.email.length > 0}">
            <input type="email" name="email_name" v-model="userData.email">
            <label for="email_name"><span>Email*</span></label>
          </div>
          <div class="contact-form__wrapper__field" :class="{'input--filled': userData.phone.length > 0}">
            <input type="text" name="phone_name" v-model="userData.phone">
            <label for="phone_name"><span>Phone*</span></label>
          </div>
        </div>

        <div class="contact-form__wrapper question">
          <div class="contact-form__wrapper__question">
            <span>Are you a broker?</span>
            <div class="broker">
              <input type="radio" name="broker_yes" :checked="firstInputChecked">
              <label for="broker_yes" @click="checkInput('first')">Yes</label>
            </div>
            <div class="broker">
              <input type="radio" name="broker" :checked="lastInputChecked">
              <label for="broker_no" @click="checkInput('last')">No</label>
            </div>
          </div>
          <div class="contact-form__wrapper__field" :class="{'input--filled': userData.broker.length > 0}" v-show="showBroker">
            <input type="text" name="broker" v-model="userData.broker">
            <label for="broker_name"><span>Brokerage company*</span></label>
          </div>
        </div>

        <button class="btn-submit" @click.prevent="submitForm">Submit</button>

        <div class="form-content">
          <div class="form-content__headline">
            <span class="form-content__headline--head">Exclusive Marketing</span>
            <span class="form-content__headline--title">Douglas Ellman Development Marketing <br>Sahar Ziv and Tavivian Team</span>
            <p class="form-content__headline--body">
            This advertisement is not an offering.
              It is a solicitation of interest in the advertised property.
              No offering of the advertised units can be made and no deposits can be accepted, or reservations,
              binding or non-binding, can be made until an Offering Plan is filed with the New York State Department of Law.
              This advertisement is made pursuant to Cooperative Policy Statement No. 1 issued by the New York State Department of Law FileNo.
              CP19-0023. Sponsor: Avenue Second Owner, LLC, 41 Wooster Street, 2nd Foor, New York, NY 10013.
            </p>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
      name: "Contact",
      data: () => ({
        userData: {
          firstName: '',
          lastName: '',
          email: '',
          phone: '',
          address: '',
          city: '',
          state: '',
          zip: '',
          broker: ''
        },
        showBroker: false,
        firstInputChecked: false,
        lastInputChecked: false
      }),
      methods: {
        submitForm() {
          console.log(this.userData);
        },

        checkInput(value) {
          if(value === 'first') {
            this.firstInputChecked = true
            this.lastInputChecked = false
            this.showBroker = true
          } else {
            this.firstInputChecked = false
            this.lastInputChecked = true
            this.showBroker = false
          }
        }
      }
    }
</script>

<style scoped>

</style>
