<template>
    <div class="neighborhood" id="neighborhood">
      <info :backImage="images.firstImage" class="scrollFade" />
      <description
        :description-title="description.title"
        :description-body="description.body"></description>
      <div class="images-block">
        <div class="images-block__group scrollFade">
          <div>
            <span :style="{ backgroundImage: 'url('+ require('../assets/Lafayette_POI_HiRes-49@2x.png') + ')'}"></span>
            <span :style="{ backgroundImage: 'url('+ require('../assets/181025_EVILLAGE_HOOD_0097_HIGH@2x.png') + ')'}"></span>
          </div>
          <div class="images-block__group__big">
            <span :style="{ backgroundImage: 'url('+ require('../assets/Lafayette_POI_HiRes-116@2x.png') + ')'}"></span>
          </div>
        </div>
        <div class="images-block__one scrollFade">
          <span :style="{ backgroundImage: 'url('+ require('../assets/140131_EJ_51_astor_koons_002_HIGH@2x.png') + ')'}"></span>
        </div>
        <div class="images-block__group scrollFade">
          <div>
            <span :style="{ backgroundImage: 'url('+ require('../assets/363_Lafayette-41@2x.png') + ')'}"></span>
            <span :style="{ backgroundImage: 'url('+ require('../assets/Lafayette_POI_HiRes-106@2x.png') + ')'}"></span>
          </div>
          <div class="images-block__group__big">
            <span :style="{ backgroundImage: 'url('+ require('../assets/Lafayette_POI_HiRes-60@2x.png') + ')'}"></span>
          </div>
        </div>
        <div class="images-block__one scrollFade">
          <span :style="{ backgroundImage: 'url('+ require('../assets/181023_EVILLAGE_HOOD_0064_HIGH@2x.png') + ')'}"></span>
        </div>
        <div class="images-block__group scrollFade">
          <div>
            <span :style="{ backgroundImage: 'url('+ require('../assets/181025_EVILLAGE_HOOD_0186_HIGH@2x.png') + ')'}"></span>
            <span :style="{ backgroundImage: 'url('+ require('../assets/Lafayette_POI_HiRes-75@2x.png') + ')'}"></span>
          </div>
          <div class="images-block__group__big">
            <span :style="{ backgroundImage: 'url('+ require('../assets/181023_EVILLAGE_HOOD_0062_HIGH@2x.png') + ')'}"></span>
          </div>
        </div>
        <div class="images-block__one scrollFade">
          <span :style="{ backgroundImage: 'url('+ require('../assets/Lafayette_POI_HiRes-108@2x.png') + ')'}"></span>
        </div>
      </div>
      <app-map v-if="showMap"></app-map>
      <app-footer></app-footer>
    </div>
</template>

<script>
  import Description from "../components/Description";
  import Info from "../components/Info";
  import Map from "../components/Map";
  import Footer from "../layout/Footer";

    export default {
      name: "Neighborhood",
      components: {
        Description,
        Info,
        'app-map': Map,
        'app-footer': Footer
      },
      data: () => ({
        images: {
          firstImage: 'Lafayette_POI_HiRes-99@2x.png',
        },
        description: {
          title:'Historical elements with a modern trend-setting vision some.',
          body: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.'
        },
        showMap: true
      }),
      created() {

        if(window.innerWidth <= 600) {
          this.showMap = false
        }

        window.addEventListener('resize', () => {
          window.innerWidth <= 600 ? this.showMap = false : this.showMap = true

        })
      },
      methods: {
        handleScroll () {
          // const elmnt = document.getElementById("neighborhood");
          // const y = elmnt.scrollTop;
          //
          // const info = document.getElementsByClassName("information")[0].offsetHeight;
          // const showNavigation = y / info
          // if(showNavigation > 0.9 ) {
          //   this.$emit('navOpacity', showNavigation / 1.3)
          // } else {
          //   this.$emit('navOpacity', 0)
          // }

          // Scroll fade
          let startPos = 0.9;
          let slides = document.getElementsByClassName("scrollFade");
          let slidesTitle = document.getElementsByClassName("scrollFadeText");
          let slidesBody = document.getElementsByClassName("scrollFadeBody");
          const vh = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

          for (let i = 0; i < slidesTitle.length; i++) {
            let elPos = slidesTitle[i].getBoundingClientRect().top
            if(elPos < 60) {
              slidesTitle[i].style.opacity = (elPos / 60)
            } else {
              slidesTitle[i].style.opacity = 1
            }
          }

          for (let i = 0; i < slidesBody.length; i++) {
            let elPos = slidesBody[i].getBoundingClientRect().top
            if(elPos < 60) {
              slidesBody[i].style.opacity = (elPos / 60)
            } else {
              slidesBody[i].style.opacity = 1
            }
          }

          for (let i = 0; i < slides.length; i++) {
            let elPos = slides[i].getBoundingClientRect().bottom
            if(elPos < vh * startPos) {
              slides[i].style.opacity = (elPos / (vh * startPos) * 1)
            } else {
              slides[i].style.opacity = 1
            }
          }
        },
        initMap() {
          // The location of Uluru
          // let uluru = {lat: 40.7283021, lng: -73.9895693};
          // // The map, centered at Uluru
          // var map = new google.maps.Map(
          //   document.getElementById('map'), {zoom: 4, center: uluru});
          // // The marker, positioned at Uluru
          // var marker = new google.maps.Marker({position: uluru, map: map});
        }
      },
      mounted () {
        document.getElementById('neighborhood').addEventListener('scroll', this.handleScroll);
      },
    }
</script>

<style scoped>

</style>
