<template>
  <div class="penthouse" id="penthouse">
    <info :backImage="imagePath" class="scrollFade" />
    <template v-for="(content, index) in descriptionContent">
      <description
        :key="index"
        :description-title="content.title"
        :description-body="content.text"
        :image="content.image"
        :class="'penthouse-description-' + index">
      </description>
    </template>
    <footer-part></footer-part>
  </div>
</template>

<script>
  import Description from "../components/Description";
  import Info from "../components/Info";
  import Footer from "../layout/Footer";

  export default {
    name: "Penthouse",
    data: () => ({
      descriptionContent: [
        {
          title: 'Historical elements with a modern trend-setting vision some.',
          text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
          image: 'Penthouse1.png',
          imageWidth: '100%'
        },
        {
          title: '',
          text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
          image: 'PenthouseKitchen.png',
          imageWidth: '100%'
        },
        {
          title: '',
          text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
          image: 'PenthouseBath.png',
          imageWidth: '100%'
        },
        {
          title: '',
          text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
          image: 'PenthouseRoom.png',
          imageWidth: '100%'
        }
      ],
      imagePath: 'Penthouse.png'
    }),
    components: {
      Description,
      Info,
      'footer-part': Footer
    },
    methods: {
      handleScroll () {
        // const elmnt = document.getElementById("penthouse");
        // const y = elmnt.scrollTop;
        //
        // const info = document.getElementsByClassName("information")[0].offsetHeight;
        // const showNavigation = y / info
        // if(showNavigation > 0.9 ) {
        //   this.$emit('navOpacity', showNavigation / 1.3)
        // } else {
        //   this.$emit('navOpacity', 0)
        // }

        // Scroll fade
        let startPos = 0.9;
        let slides = document.getElementsByClassName("scrollFade");
        let slidesTitle = document.getElementsByClassName("scrollFadeText");
        let slidesBody = document.getElementsByClassName("scrollFadeBody");
        const vh = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);


        for (let i = 0; i < slidesTitle.length; i++) {
          let elPos = slidesTitle[i].getBoundingClientRect().top
          if(elPos < 60) {
            slidesTitle[i].style.opacity = (elPos / 60)
          } else {
            slidesTitle[i].style.opacity = 1
          }
        }

        for (let i = 0; i < slidesBody.length; i++) {
          let elPos = slidesBody[i].getBoundingClientRect().top
          if(elPos < 60) {
            slidesBody[i].style.opacity = (elPos / 60)
          } else {
            slidesBody[i].style.opacity = 1
          }
        }

        for (let i = 0; i < slides.length; i++) {
          let elPos = slides[i].getBoundingClientRect().bottom
          if(elPos < vh * startPos) {
            slides[i].style.opacity = (elPos / (vh * startPos) * 1)
          } else {
            slides[i].style.opacity = 1
          }
        }
      }
    },
    mounted () {
      document.getElementById('penthouse').addEventListener('scroll', this.handleScroll);
    },
  }
</script>

<style scoped>

</style>
