<template>
    <div class="residences" id="residences">
      <info :backImage="imagePath" class="scrollFade"></info>
      <template v-for="(content, index) in descriptionContent">
        <description
          :key="index"
          :description-title="content.title"
          :description-body="content.text"
          :image="content.image"
          :class="'residences-description-' + index ">
        </description>
      </template>
      <footer-part></footer-part>
    </div>

</template>

<script>
import Description from "../components/Description";
import Info from "../components/Info";
import Footer from "../layout/Footer";

export default {
    name: "Residences",
    data: () => ({
      descriptionContent: [
        {
          title: 'Historical elements with a modern trend-setting vision some.',
          text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
          image: 'Kitchen1.png'
        },
        {
          title: '',
          text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
          image: 'Bath1.png'
        },
        {
          title: '',
          text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet.',
          image: 'Bath2.png'
        }
      ],
      imagePath: 'residences.png'
    }),
    components: {
      Description,
      Info,
      'footer-part':Footer
    },
    methods: {
      handleScroll () {

        // Scroll fade
        let startPos = 0.9;

        let slides = document.getElementsByClassName("scrollFade");
        let slidesTitle = document.getElementsByClassName("scrollFadeText");
        let slidesBody = document.getElementsByClassName("scrollFadeBody");
        const vh = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

        for (let i = 0; i < slidesTitle.length; i++) {
          let elPos = slidesTitle[i].getBoundingClientRect().top

          if(elPos < 60) {
            slidesTitle[i].style.opacity = (elPos / 60 )
          } else {
            slidesTitle[i].style.opacity = 1
          }
        }

        for (let i = 0; i < slidesBody.length; i++) {
          let elPos = slidesBody[i].getBoundingClientRect().top
          if(elPos < 60) {
            slidesBody[i].style.opacity = (elPos / 60)
          } else {
            slidesBody[i].style.opacity = 1
          }
        }

        for (let i = 0; i < slides.length; i++) {
          let elPos = slides[i].getBoundingClientRect().bottom
          if(elPos < vh * startPos) {
            slides[i].style.opacity = (elPos / (vh * startPos) * 1)
          } else {
            slides[i].style.opacity = 1
          }
        }
      }
    },
  mounted () {
    document.getElementById('residences').addEventListener('scroll', this.handleScroll);
  },
}
</script>

<style scoped>

</style>
