<template>
    <div class="team" id="team">
      <div class="team__group">
        <template v-for="(team, index) in teams">
          <text-block
            :key="index"
            :title="team.title"
            :content="team.text"></text-block>
        </template>

      </div>
      <footer-part></footer-part>
    </div>
</template>

<script>
import TextBlock from "../components/TextBlock";
import Footer from "../layout/Footer";
export default {
  name: "Team",
  data: () => ({
    teams: [
      {
        title: 'MA Architects',
        text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels'
      },
      {
        title: 'Nexus Development',
        text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels'
      },
      {
        title: 'Douglas Elliman',
        text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels'
      },
      {
        title: 'Alan Hill Design',
        text: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet. 45 East 7th, in Morris Adjmi’s trademark style, channels'
      }
    ]
  }),
  components: {
    TextBlock,
    'footer-part': Footer
  },
  methods: {
    handleScroll () {
      // Scroll fade
      let startPos = 0.2;
      let slides = document.getElementsByClassName("scrollFade");
      const vh = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

      for (let i = 0; i < slides.length; i++) {
        let elPos = slides[i].getBoundingClientRect().bottom
        if(elPos < vh * startPos) {
          slides[i].style.opacity = (elPos / (vh * startPos) * 1)
        } else {
          slides[i].style.opacity = 1
        }
      }
    }
  },
  mounted () {
    document.getElementById('team').addEventListener('scroll', this.handleScroll);
  }
}
</script>

<style scoped>

</style>
