.footer {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
    display: flex;
  }

  &--image {
    width: 12rem;
  }

  &-info {
      display: flex;

    &__content {
      display: flex;
      align-items: center;
      padding-left: .5rem;

      &--image {
        width: 1rem;
      }

      &--text {
        color: $white;
        text-decoration: none;
        padding-left: .5rem;
        font-size: 1rem;
      }
    }
  }
}
