.main-wrapper {
  display: flex;
  flex-direction: row;

  .home {
    position: relative;

    @include multiple-media(mobileScreen, tabletScreen, smallScreen, mediumScreen, largeScreen) {
      height: 100vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

  }

  .mask {
    margin-left: -35rem;
    opacity: .5;
  }
}



