.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: transparent;
  position: absolute;
  width: 100%;

  @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
    padding: 1rem;
  }

  @include multiple-media(mobileScreenLandscape) {
    padding: 0;
  }

  &-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    //flex-grow: 1;
    z-index: 1000;

    @include multiple-media(mobileScreen) {
      position: fixed;
      top: 0;
      display: flex;
      flex-grow: 1;
      right: 0;
      left: 0;
    }

    .navigation-menu-left {
      display: flex;

      .menu-mobile {
        display: inline-block;
        cursor: pointer;
        padding: 1rem;

        @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
          display: none;
        }

        @include multiple-media(mobileScreenLandscape) {
          display: inline-block;
        }

        //div {
        //  width: 32px;
        //  height: 3px;
        //  background-color: $white;
        //  margin: 7px 0;
        //
        //  &:first-child {
        //    margin-top: 0;
        //  }
        //
        //  &:last-child {
        //    margin-bottom: 0;
        //  }
        //}
        .bar1, .bar2, .bar3 {
          width: 32px;
          height: 3px;
          background-color: #fff;
          margin: 6px 0;
          transition: 1s;
        }
      }
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 3px);
        transform: rotate(-45deg) translate(-6px, 3px);
      }

      .change .bar2 {opacity: 0;}

      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }

      .menu-tabs {
        display: none;

        @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
          display: flex;
        }

        @include multiple-media(mobileScreenLandscape) {
          display: none;
        }



        &-item {
          margin-right: 1rem;
          cursor: pointer;

          &--text {
            color: $white;
            text-decoration: none;

          }
        }
      }
    }
  }

  .navigation-menu-right {
    z-index: 1001;
    margin-right: 1rem;
    display: flex;
    margin-left: auto;

    @include multiple-media(mobileScreen, mobileScreenLandscape) {
      font-size: 4rem;
      position: absolute;
      text-align: center;
      top: 1rem;
      right: 0;
      margin-right: 0;
    }

    &--text {
      padding-right: 1rem;

      @include multiple-media(mobileScreenLandscape) {
        padding-top: .75rem;
      }

      img {
        width: 14rem;
        height: 3rem;
      }
    }
  }

  .logoPosition {
    margin-top: 0;
    top: 0;
  }

  //.moveLogoUp {
  //  animation: move .5s forwards;
  //
  //  @keyframes move {
  //    from {
  //      top: 3rem;
  //      margin-top: 1rem
  //    }
  //    to {
  //      top: 0;
  //      margin-top:  0
  //    }
  //  }
  //}

  .moveElement {
    margin-left: 0;
    width: 100%;
    display: none;
    animation: moveElement 2s forwards;

    @keyframes moveElement {
      from {margin-left: 0}
      to { margin-left: 80vw}
    }
  }

  //.moveLogoDown {
  //  animation: moveDown .5s forwards;
  //
  //  @keyframes moveDown {
  //    from {
  //      top: 0;
  //      margin-top:  0
  //    }
  //    to {
  //      top: 3rem;
  //      margin-top: 1rem
  //    }
  //  }
  //}

  &-mobile {
    // height: 100vh;
    min-height: -webkit-fill-available;
    width: 0;
    position: fixed;
    color: $white;
    top: 0;
    left: 0;
    background-color: $black;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    animation: showMobileNav 2s forwards;

    @keyframes showMobileNav {
      from {width: 0}
      to { width: 80vw}
    }

    &__items {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      flex-grow: 1;

      .menu-tabs-item {
        margin-bottom: 1rem;

        &--text {
          color: $white;
          text-decoration: none;
          font-size: 4rem;
        }
      }

      .call {
        margin-top: auto;
        margin-bottom: 0;
      }
    }

  }

  &-mobile {
    + .building {
      margin-left: 0;
      width: 100%;
      animation: showBuilding 2s forwards;

      @keyframes showBuilding {
        from {margin-left: 0}
        to { margin-left: 80vw}
      }
    }
    + .residences {
      margin-left: 0;
      width: 100%;
      animation: showResidences 2s forwards;

      @keyframes showResidences {
        from {margin-left: 0}
        to { margin-left: 80vw}
      }


    }
    + .availability {
      margin-left: 0;
      width: 100%;
      animation: showAvailability 2s forwards;

      @keyframes showAvailability {
        from {margin-left: 0}
        to { margin-left: 80vw}
      }
    }
    + .neighborhood {
      margin-left: 0;
      width: 100%;
      animation: showNeighborhood 2s forwards;

      @keyframes showNeighborhood {
        from {margin-left: 0}
        to { margin-left: 80vw}
      }
    }
    + .team {
      margin-left: 0;
      width: 100%;
      animation: showTeam 2s forwards;

      @keyframes showTeam {
        from {margin-left: 0}
        to { margin-left: 80vw}
      }
    }
    + .penthouse {
      margin-left: 0;
      width: 100%;
      animation: showPenthouse 2s forwards;

      @keyframes showPenthouse {
        from {margin-left: 0}
        to { margin-left: 80vw}
      }
    }
    + .map-page {
      margin-left: 0;
      width: 100%;
      animation: showMapPage 2s forwards;

      @keyframes showMapPage {
        from {margin-left: 0}
        to { margin-left: 80vw}
      }
    }
    + .contact {
      margin-left: 0;
      width: 100%;
      animation: showContact 2s forwards;

      @keyframes showContact {
        from {margin-left: 0}
        to { margin-left: 80vw}
      }

      .contact-form { width: 100%}
    }
  }

}

.isBuilding {

  .navigation-menu-right {

    &--text {
      animation: showNav 1.5s forwards;
      //padding-right: 1rem;
      @include multiple-media(mobileScreen) {
        display: none;
      }

      @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
        @keyframes showNav {
          from {
            opacity:0;
          }

          99% {
            opacity:0;
          }

          to {
            opacity:1;
          }
        }
      }

    }


  }
}
