<template>
    <div class="information" :style="[backImage ? {backgroundImage: 'url(' + require('../assets/' + backImage) + ')'} : {backgroundImage: 'none'}]">
        <img v-if="!backImage" :src="require('../assets/' + image)" alt="description" class="information__image" :style="{ width: imageWidth}">
    </div>
</template>

<script>
export default {
  name: "Information",
  props: {
    image: {
      default: '',
      required: false
    },
    imageWidth: {
      default: '100%',
      required: false
    },
    backImage: {
      default: '',
      required: false
    }
  },
}
</script>

<style scoped>

</style>
