<template>
  <div class="map">
    <MglMap :accessToken="accessToken" :mapStyle.sync="mapStyle" :interactive="false">
      <MglGeojsonLayer
        :sourceId="geoJsonSource.data.id"
        :source="geoJsonSource"
        layerId="somethingSomething"
        :layer="geoJsonLayer"
      >
      </MglGeojsonLayer>
      <MglPopup :coordinates="coordinates" anchor="top" :showed="true">
        cao
      </MglPopup>
    </MglMap>
    <div class="map-options">
      <img v-if="!showMenu" src="../assets/mapIcon.svg" alt="Icon" class="map-options__icon" @click="showMenu = !showMenu">
      <div class="map-options__head" v-if="showMenu">
        <span class="map-options__head--title" :style="[isActive !== 'dining' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('dining')">Dining</span>
        <span class="map-options__head--title" :style="[isActive !== 'shopping' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('shopping')">Shopping</span>
        <span class="map-options__head--title" :style="[isActive !== 'wellness' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('wellness')">Wellness</span>
        <span class="map-options__head--title" :style="[isActive !== 'culture' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('culture')">Culture</span>
        <span class="map-options__head--title" :style="[isActive !== 'education' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('education')">Education</span>
        <span class="map-options__head--title" :style="[isActive !== 'lodging' ? {'color': '#B7B7B7'} : {'color': '#ffffff'}]" @click="selectLocation('lodging')">Lodging</span>
      </div>
      <div class="map-options__results">
        <div v-for="(result, index) in results" :key="index">
          <span @click="selectSingleLocation(result)"> - {{ result.properties.description }} </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import Mapbox from "mapbox-gl";
    import {MglMap, MglGeojsonLayer, MglPopup} from "vue-mapbox";
    import mapS from '../local/style.json';


    const localGeoJsonSource = {
      type: 'geojson',
      data: {
        id: "thisIsMySource",
        type: "FeatureCollection",
        features: [
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9871129, 40.7290149]
            },
            properties: {
              id: "value0",
              title: 'Convenience',
              description: 'Description 1',
              marker: 'dining'
            }
          },
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9845085, 40.7292467]
            },
            properties: {
              id: "value1",
              title: 'Convenience1',
              description: 'Description 2',
              marker: 'shopping'
            }
          },
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9845085, 40.7292800]
            },
            properties: {
              id: "value10",
              title: 'Convenience1.1',
              description: 'Description 2.2',
              marker: 'shopping'
            }
          },
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9896946, 40.7287609]
            },
            properties: {
              id: "value2",
              title: 'Convenience2',
              description: 'Description 3',
              marker: 'wellness'
            }
          },
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9885814, 40.7310109]
            },
            properties: {
              id: "value3",
              title: 'Convenience3',
              description: 'Description 4',
              marker: 'culture'
            }
          },
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9853561, 40.7271246]
            },
            properties: {
              id: "value4",
              title: 'Convenience4',
              description: 'Description 5',
              marker: 'education'
            }
          },
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9832439, 40.7276683]
            },
            properties: {
              id: "value5",
              title: 'Convenience5',
              description: 'Description 6',
              marker: 'lodging'
            }
          }
        ]
      },
    }
    const localGeoJsonSourceInit = {
      type: 'geojson',
      data: {
        id: "thisIsMySource",
        type: "FeatureCollection",
        features: [
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9871129, 40.7290149]
            },
            properties: {
              id: "value0",
              title: 'Convenience',
              description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
              marker: 'dining'
            }
          },
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9845085, 40.7292467]
            },
            properties: {
              id: "value1",
              title: 'Convenience1',
              description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
              marker: 'shopping'
            }
          },
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9896946, 40.7287609]
            },
            properties: {
              id: "value2",
              title: 'Convenience2',
              description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
              marker: 'wellness'
            }
          },
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9885814, 40.7310109]
            },
            properties: {
              id: "value3",
              title: 'Convenience3',
              description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
              marker: 'culture'
            }
          },
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9853561, 40.7271246]
            },
            properties: {
              id: "value4",
              title: 'Convenience4',
              description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
              marker: 'education'
            }
          },
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [-73.9832439, 40.7276683]
            },
            properties: {
              id: "value5",
              title: 'Convenience5',
              description: '45 East 7th, in Morris Adjmi’s trademark style, channels historical architectural elements with a modern, trend-setting vision to build a landmark to the community’s past, present and future in the most desirable location downtown—where Astor Place, Noho and the Village meet Astor Place, Noho and the Villag',
              marker: 'lodging'
            }
          }
        ]
      },
    }

    export default {
      name: "Map",
      components: {
        MglMap,
        MglGeojsonLayer,
        MglPopup
      },
      data: () => ({
        isActive: '',
        coordinates: [-73.9895693, 40.7283021],
        accessToken: 'pk.eyJ1IjoibWlsYW5rIiwiYSI6ImNrMWxtMzNoczA3NTkzY3F4YmlpYW90ODEifQ.niMMVZ3Nc2EQMKkV5Qkb_Q',
        mapStyle: null,
        geoJsonSource: null,
        geoJsonLayer: {
          type: "circle",
          paint: {
            "circle-color": "white"
          }
        },
        features: [],
        results: [],
        showMenu: true
      }),
      created() {
        this.mapbox = Mapbox;
        this.mapStyle = mapS;
        this.geoJsonSource = localGeoJsonSourceInit;

        if(window.innerWidth <= 600) {
          this.showMenu = false
        }
        this.selectLocation('dining')
      },
      methods: {
        selectLocation(marker) {

          // if(window.innerWidth <= 600) {
          //   this.showMenu = !this.showMenu;
          // }

          this.isActive = marker;
          let newFeatures = [];
          this.results = [];

          localGeoJsonSource.data.features.forEach(element => {
            if(element.properties.marker ===  marker){
              newFeatures.push(element)
              this.results.push(element)
            }
          });
          this.geoJsonSource.data.features =  newFeatures
        },

        selectSingleLocation(marker) {
          let newLocation = [];
          this.results = [];
          localGeoJsonSource.data.features.forEach(element => {
            if(element.properties.id ===  marker.properties.id){
              newLocation.push(element)
              this.results.push(element)
            }
          });
          this.geoJsonSource.data.features =  newLocation
        }
      }
    }
</script>

<style scoped>

</style>
