<template>
    <div class="triple-image">
      <img :src="require('../assets/' + firstImage)" alt="image1">
      <img :src="require('../assets/' + secondImage)" alt="image1">
      <img :src="require('../assets/' + thirdImage)" alt="image1">
    </div>
</template>

<script>
    export default {
        name: "TripleImage",
        props: {
          firstImage: {
            default: '',
            required: true
          },
          secondImage: {
            default: '',
            required: true
          },
          thirdImage: {
            default: '',
            required: true
          }
        }
    }
</script>

<style scoped>

</style>
