<template>
    <div class="footer">
        <img src="../assets/footer-logo@2x.png" alt="Logo" class="footer--image">
        <div class="footer-info">
          <span class="footer-info__content">
            <img src="../assets/phone.svg" alt="Phone" class="footer-info__content--image">
            <a class="footer-info__content--text" href="tel:123-456-7890">347-713-7077</a>
          </span>
          <span class="footer-info__content">
            <img src="../assets/form.svg" alt="Email" class="footer-info__content--image">
            <a class="footer-info__content--text" href="mailto:info@rentthelois.com">info@45e7.com</a>
          </span>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>
